body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    color: #f1f1f1;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
  
  
  h1, h2 {
    text-align: center;
    margin: 20px 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  #movies-container, #results, form {
    text-align: center;
    background: rgba(255, 255, 255, 0.03);
    padding: 20px;
    margin: 10px auto;
    border-radius: 8px;
    max-width: 600px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
    animation: fadeIn 2s ease-in;
  }
  
  input, button {
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  input {
    width: 250px;
    background: #111;
    color: #fff;
    border: 1px solid #444;
  }
  
  button {
    cursor: pointer;
    background: #ff4e50;
    background: linear-gradient(to right, #ff4e50, #f9d423);
    color: #000;
    transition: all 0.3s;
  }
  
  button:hover {
    filter: brightness(1.2);
  }
  
  /* Fade in */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  #bg {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
  }
  

  /*fire
  
.fire::before,
.fire::after {
    content: "";
    position: absolute;
    inset: 0;
}

.fire::before {
    content: "";
    background-image: var(--glitter), var(--glitter),
        linear-gradient(
            0deg,
            white 0px,
            #ff8951 5px,
            #dcbc169c 30%,
            transparent 70%
        ),
        radial-gradient(ellipse at bottom, transparent 30%, black 60%);
    background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
    background-blend-mode: hard-light, color-dodge, multiply;
    background-position: 0px 0px, 0px 0px, var(--gradientPos);
    background-repeat: repeat, repeat, repeat, no-repeat;
    mix-blend-mode: color-dodge;
    filter: brightness(3.7) blur(7px) contrast(6);
    animation: fire 1.75s linear infinite;
    box-shadow: inset 0 -40px 50px -60px #63bbc5;
}

@keyframes fire {
    0% {
        background-position: center 0px, center 0px, 50% 100%, center center;
    }
    100% {
        background-position: center -500px, center -650px, 50% 100%, center center;
    }
}

.fire {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    */